<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scale Entel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A81D9B61CCE21A20052A681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A81D9CC1CCE21A20052A681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A81D9D71CCE21A20052A681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
